<div class="relaxed grid">
  <h1 class="homewelcome">Welcome to UToob</h1>
    <h2 class="homep">Make playlists, view videos, and more!</h2>
    <p> That's for checking out UToob. We think you'll find this a viable 
    alternative to the big box video services out there</p>

    <p> Take some time, comment on our videos, maybe even add one or two yourself! </p>
    
  <button class="ui button"><%= link_to  "Browse Videos Here", videos_path%></button>
</div>