<div class="home">
  <h1 class="homewelcome">Welcome to UToob</h1>
    <h2 class="homep">Make playlists, view videos, and more!</h2>
    <p>I love chocolate bar chocolate caramels sweet jelly-o jelly beans. Tart jelly toffee cookie cupcake apple pie. Chupa chups cupcake pudding cake oat cake. Liquorice sugar plum halvah. I love jelly beans icing gingerbread. Jujubes I love gummi bears I love sweet. Jelly beans sweet dessert sesame snaps cupcake pudding fruitcake jelly-o chocolate.</br></br>Halvah cotton candy jelly beans donut dessert. Caramels cake jujubes sweet roll macaroon danish jujubes. Dragée toffee jelly gummies. Sweet roll cake lemon drops cake cheesecake apple pie cupcake chocolate cake. Danish bonbon I love tiramisu bonbon dragée icing. Icing liquorice cupcake. Fruitcake candy ice cream. Gummi bears I love bonbon jelly-o sweet roll carrot cake icing marzipan sweet. I love topping I love. Jelly-o fruitcake toffee I love halvah candy. Cupcake danish pastry pie gummies jelly-o.</p> 
  <button class="ui button"><%= link_to  "Browse Videos Here", videos_path%></button>
</div>