<div class="home">
  <h1 class="homewelcome">UToob</h1>
    <h2 class="homep">Make playlists,view vieos, and more!</h2>
  <button class="ui button"><%= link_to  "Browse Videos Here", videos_path%></button>
</div>