<h1>Playlists</h1>
<%= link_to 'Create New Playlist', new_user_playlist_path(current_user) %>
<hr />

<h3> Here are all your playlists </h3>
<ul>
<% @playlists.each do |playlist| %>
  <li><%= link_to "#{playlist.title}", playlist_path(playlist) %>
  <br /> <%= link_to 'Edit', edit_playlist_path(playlist) %>
  <br /> <%= link_to 'Delete', playlist, method: :delete %></li>
<% end %>
<ul>


