<h1>Playlists</h1>
<%= link_to 'Create New Playlist', new_user_playlist_path(current_user) %>
<hr />

<h3> Here are all your playlists </h3>

<% @playlists.each do |playlist| %>
  <%= playlist.title %>
<% end %>


