<div class="ui three item menu">
  <%= link_to  "Home", root_path %>
  <%= link_to 'View all videos', videos_path %>
  <% if user_signed_in? %>
  <%= link_to 'Your Playlists', user_playlists_path(current_user) %>
  <% end %>
</div>
